.Keyboards {
    padding: 2vw;
    overflow: hidden;
}
.Keyboards a{
    width: 10vw;
    height: 20px;
    line-height: 20px;
    font-size: 10px;
    display: block;
    border: 1px solid #8ed6db;
    margin-top: 0px;
    text-align: center;
    display: inline-block;
    margin-right: 2vw;
}
.Keyboards a.off {
    text-decoration: line-through;
    opacity: 0.55;
}

.Keyboards a.modeSwitch {
    width: 18vw;
    border-color: #c38a3d;
    color: #c99a59;
}
