.CrossHandle {
    width: 30vw;
    height: 30vw;
    border: 1px dashed rgba(142, 214, 219, 0.28);
    position: relative;
    margin-right: 10px;
}
.CrossHandle p {
    width: 8px;
    height: 8px;
    margin-left: -4px;
    margin-top: -4px;
    border: 1px solid #8ed6db;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
}
