.DiskHandle {
    width: 30vw;
    height: 30vw;
    border: 1px dashed rgba(142, 214, 219, 0.28);
    position: relative;
    border-radius: 50%;
    margin-right: 10px;   
}
.DiskHandle .rotate {
    width: 100%;
    height: 1px;
    background: #8ed6db;
    position: absolute;
    top: 50%;
    left: 0;
}
.DiskHandle .rotate::after, .DiskHandle .rotate::before {
    display: block;
    content: ' ';
    width: 6px;
    height: 6px;
    border: 1px solid #8ed6db;
    background: #0d0e1b;
    position: absolute;
    top: 0;
    border-radius: 50%;
    margin-top: -4px;
}
.DiskHandle .rotate::after {
    left: -4px;
}
.DiskHandle .rotate::before {
    right: -4px;
}
