* {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
    color: rgba(172, 249, 251, 1);
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overscroll-behavior: none;
    touch-action: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    background: rgb(13, 14, 27);
}
