* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    color: #8ed6db;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", monospace;
}

body {
    background: #0d0e1b;
    overflow-x: hidden;
    overflow-y: auto;
}

button,
a,
input {
    font: inherit;
}
