* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    color: rgba(172, 249, 251, 1);
}

body {
    background: rgb(13, 14, 27);
    overflow: hidden;
    opacity: 0.02;
}

